USE [master]
GO
/****** Object:  Database [noc_db]    Script Date: 12/18/2020 7:50:56 AM ******/
CREATE DATABASE [noc_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'noc_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\noc_db.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'noc_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\noc_db_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [noc_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [noc_db]
GO
/****** Object:  Table [dbo].[tb_data]    Script Date: 12/18/2020 7:50:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[state] [varchar](50) NOT NULL,
	[market] [varchar](50) NOT NULL,
	[floor_level] [varchar](50) NOT NULL,
	[studio_#] [varchar](50) NOT NULL,
	[news_onair_booth_p1a] [varchar](50) NOT NULL,
	[main_studio_use_comments] [varchar](50) NOT NULL,
	[tech] [varchar](50) NOT NULL,
	[mics] [varchar](50) NOT NULL,
	[virtual_diector] [varchar](50) NOT NULL,
	[zetta] [varchar](50) NOT NULL,
	[phone_box] [varchar](50) NOT NULL,
	[webcam] [varchar](50) NOT NULL,
	[recorder] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_data] ON 

INSERT [dbo].[tb_data] ([id], [state], [market], [floor_level], [studio_#], [news_onair_booth_p1a], [main_studio_use_comments], [tech], [mics], [virtual_diector], [zetta], [phone_box], [webcam], [recorder]) VALUES (1, N'NSW', N'Sydney', N'14', N'1', N'On Air', N'Workday / Late Night', N'Axia', N'7', N'No', N'Yes', N'Yes', N'Yes', N'Yes')
INSERT [dbo].[tb_data] ([id], [state], [market], [floor_level], [studio_#], [news_onair_booth_p1a], [main_studio_use_comments], [tech], [mics], [virtual_diector], [zetta], [phone_box], [webcam], [recorder]) VALUES (2, N'NSW', N'Sydney', N'14', N'2', N'On Air', N'MMM Breakfast / Drive', N'Axia', N'7', N'Yes', N'Yes', N'Yes', N'Yes', N'Yes')
INSERT [dbo].[tb_data] ([id], [state], [market], [floor_level], [studio_#], [news_onair_booth_p1a], [main_studio_use_comments], [tech], [mics], [virtual_diector], [zetta], [phone_box], [webcam], [recorder]) VALUES (3, N'NSW', N'Sydney', N'15', N'3', N'On Air', N'Workday / Evening / Nights', N'Axia', N'7', N'Yes', N'Yes', N'Yes', N'Yes', N'Yes')
GO
SET IDENTITY_INSERT [dbo].[tb_data] OFF
USE [master]
GO
